<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
</head>
<body>
    <h1 style="font-size: 100px;">Hello World with KHANG TONG</h1>
    <p> <%= data%> </p>
</body>
</html>